*{
    text-decoration: none;
    margin: 0;
    padding: 0;
 }
    
ul
{
    list-style-type: none;
}


body
{
    background-color: #8cb7d6;
    font-size: 22px;
    font-family: 'Aleo';
}

nav
{
    position: sticky; top: 0;
    backdrop-filter: blur(45px);
    background-color: #344786; 
    font-family: calibri; 
    z-index: 500;
    
}
   
nav ul
{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
}

nav li
{
    height: 60px; 
    list-style: none; 
    display: inline-block; 
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;

}



nav a span{
    color: rgb(199, 199, 199);
}

nav li:nth-child(2)
{
    margin-right: auto;
    margin-left: none;
}

nav li.no-interaction a 
{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    padding: 0 20px;
    pointer-events: none;
    color: rgb(199, 199, 199);
}

nav a:hover
{
    background-color: #476ba1;
}

nav ul li:first-child a:hover 
{
    background-color: transparent;
}

nav ul li a 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 0 10px;
}

nav i 
{
    display: block;
    font-size: 24px;
    margin: 0;
    color: rgb(199, 199, 199);
}

.nav-text 
{
    display: block;
    margin-top: 5px;
    line-height: 1.2;
    color: rgb(199, 199, 199);
}

.mini_logo
{
    width: 55px;
    height: 55px;
    gap: 3px;
}

.header
{
    color: black;
    font-size: 50px;
    height: 100px;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    letter-spacing: 2px;
    font-family: 'Aleo';
}

.words
{
    max-width: 85%;
    font-size: 30px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Lato';
}

.contact-container
{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left
{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-inputs
{
    color: black;
    width: 500px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    border-radius: 50px;
}

.contact-left textarea
{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    resize: none;
}

.contact-inputs:focus
{
    border: 2px solid #fb5406;
}

.contact-inputs::placeholder
{
    color: #a9a9a9;
}

.contact-left button
{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #ffff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff8c56, #fb5406);
    cursor: pointer;
    font-family: 'Aleo';
}

.checking
{
    position: relative;
    display: grid;
    text-align: center;
    justify-items: center;
    width: 120vh;
    margin: 0 auto;
}

.contact-left button img
{
    height: 15px;
}

@media (max-width:800px) 
{
    .contact-inputs
    {
        width: 80vh;
    }
}
