*{
    text-decoration: none;
    margin: 0;
    padding: 0;
 }
    
ul
{
    list-style-type: none;
}


body
{
    background-color: #8cb7d6;
    font-size: 22px;
    font-family: 'Aleo';
}

nav
{
    position: sticky; top: 0;
    backdrop-filter: blur(45px);
    background-color: #7397cd; 
    font-family: calibri; 
    z-index: 500;
}
   
nav ul
{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
}

nav li
{
    height: 60px; 
    list-style: none; 
    display: inline-block; 
}
nav a{
    height: 100%;
    color: black;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav li:nth-child(2)
{
    margin-right: auto;
    margin-left: none;
}

nav li.no-interaction a 
{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    padding: 0 20px;
    pointer-events: none;
}

nav a:hover
{
    background-color: #9dcef1;
}

nav ul li a 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 0 10px;
}

nav ul li a i 
{
    display: block;
    font-size: 24px;
    margin: 0;
}

.nav-text 
{
    display: block;
    margin-top: 5px;
    line-height: 1.2;
}

.mini_logo
{
    width: 55px;
    height: 55px;
    gap: 3px;
}

.header
{
    color: black;
    font-size: 50px;
    height: 100px;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    letter-spacing: 2px;
    font-family: 'Aleo';
}

.words
{
    max-width: 85%;
    font-size: 30px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Lato';
}

.contact-container
{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left
{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-inputs
{
    color: black;
    width: 500px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    border-radius: 50px;
}

.contact-left textarea
{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    resize: none;
}

.contact-inputs:focus
{
    border: 2px solid #fb5406;
}

.contact-inputs::placeholder
{
    color: #a9a9a9;
}

.contact-left button
{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #ffff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff8c56, #fb5406);
    cursor: pointer;
    font-family: 'Aleo';
}

.contact-left button img
{
    height: 15px;
}

@media (max-width:800px) 
{
    .contact-inputs
    {
        width: 80vh;
    }
}

.Footer 
{
	background: linear-gradient(to bottom, #8cb7d6, #fb5406);
	width: 100%;
	height: 320px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	text-align: center;
	padding-top: 70px;
}

.Footer p
{
    font-weight: bold;
}

.Footer h1 
{
	font-size: 36px;
	margin-bottom: 30px;
	text-align: center;
}

.Core-Values
{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 150px;
	padding: 0;
	margin: 0;
    flex-wrap: wrap;
}

.Core-Values ul li 
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Core-Values li h1 
{
	font-size: 30px;
	margin: 0;
	line-height: 1;
}

.Core-Values li span 
{
	font-size: 10px;
    font-weight: bold;
	margin-top: 20px;
}

.Grad-attributes
{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 60px;
	padding: 0;
	margin: 0;
    flex-wrap: wrap;
}

.Grad-attributes li
{
    font-size: 20px;
}

.Grad-attributes li span
{
	font-size: 10px;
    font-weight: bold;
	margin-top: 20px;
}

.Socials
{
    display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	padding: 0;
	margin: 0;
    font-size: 130%;
}

.Socials i
{
    color: black;
}
