*{
    text-decoration: none;
    margin: 0;
    padding: 0;
 }
    
ul
{
    list-style-type: none;
}


body
{
    font-size: 22px;
    font-family: 'Aleo';
    align-items: center;
    min-height: 100vh;
}


nav
{
    position: sticky; top: 0;
    backdrop-filter: blur(45px);
    background-color: #344786; 
    font-family: calibri; 
    z-index: 500;

}

nav ul
{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
}

nav li
{
    height: 60px; 
    list-style: none; 
    display: inline-block; 
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;

}



nav a span{
    color: rgb(199, 199, 199);
}

nav li:nth-child(2)
{
    margin-right: auto;
    margin-left: none;
}

nav li.no-interaction a 
{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    padding: 0 20px;
    pointer-events: none;
    color: rgb(199, 199, 199);
}

nav a:hover
{
    background-color: #476ba1;
}

nav ul li:first-child a:hover 
{
    background-color: none;
}

nav ul li a 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 0 10px;
}

nav i 
{
    display: block;
    font-size: 24px;
    margin: 0;
    color: rgb(199, 199, 199);
}

.nav-text 
{
    display: block;
    margin-top: 5px;
    line-height: 1.2;
    color: rgb(199, 199, 199);
}

.my_cover
{
    width: 100%;
    height: 300px;
    object-fit: cover;
    z-index: 199;
}

        
.mini_logo
{
    width: 55px;
    height: 55px;
    gap: 3px;
}

.logo
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    height: 200px;
    width: 200px;
    z-index: 200;
}
        
.container
{
    width: 100%;
    height: 300px;
    position: relative;
}

.header
{
    color: black;
    text-align: center;
    margin-top: auto; 
    font-family: 'Aleo';
}

.info_text
{
    position: center;
    display: grid;
    text-align: center;
    justify-items: center;
    width: 180vh;
    margin: 0 auto;
    margin-top: 25px;
}

.info_text p
{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: larger;
    font-family: 'Lato';
}

.info_text h1
{
    margin-bottom: 20px;
}

.info_text h3
{
    font-size: larger;
    font-family: 'Merriweather';
}

.MisViPhi
{
    display: flex;
    width: 200%;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
    margin: 50px auto;
    max-width: 1200px;
    flex-wrap: wrap;
}

.card
{
    background: rgba(157, 206, 241, 0.4);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
    text-align: center;
    flex: 1 1 300px;
    backdrop-filter: blur(45px);
}

.card p
{
    margin-top: 15px;
    font-family: 'Lato';
}

.card H2
{
    font-family: "Aleo";
}

.Footer 
{
	background: linear-gradient(to bottom, white, #fb5406);
	width: 100%;
	height: 320px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	text-align: center;
	padding-top: 70px;
}

.Footer p
{
    font-weight: bold;
}

.Footer h1 
{
	font-size: 36px;
	margin-bottom: 30px;
	text-align: center;
}

.Core-Values
{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 150px;
	padding: 0;
	margin: 0;
    flex-wrap: wrap;
}

.Core-Values ul li 
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Core-Values li h1 
{
	font-size: 40px;
	margin: 0;
	line-height: 1;
}

.Core-Values li span 
{
	font-size: 10px;
    font-weight: bold;
	margin-top: 20px;
}

.Grad-attributes
{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 60px;
	padding: 0;
	margin: 0;
    flex-wrap: wrap;
}

.Grad-attributes li
{
    font-size: 20px;
}

.Grad-attributes li span
{
	font-size: 10px;
    font-weight: bold;
	margin-top: 20px;
}

.Socials
{
    display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	padding: 0;
	margin: 0;
    font-size: 130%;
}

.Socials i
{
    color: black;
}

@media (max-width: 900px)
{
    .MisViPhi
    {
        flex-wrap: wrap;
    }
    .card
    {
        width: 100%;
    }
}
