*{
    text-decoration: none;
    margin: 0;
    padding: 0;
 }
    
ul
{
    list-style-type: none;
}


body
{
    background-color: #4f5aac;
    font-size: 22px;
    font-family: 'Aleo';
}

nav
{
    position: sticky; top: 0;
    backdrop-filter: blur(45px);
    background-color: #344786; 
    font-family: calibri; 
    z-index: 500;

}

nav ul
{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
}

nav li
{
    height: 60px; 
    list-style: none; 
    display: inline-block; 
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;

}



nav a span{
    color: rgb(199, 199, 199);
}

nav li:nth-child(2)
{
    margin-right: auto;
    margin-left: none;
}

nav li.no-interaction a 
{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    padding: 0 20px;
    pointer-events: none;
    color: rgb(199, 199, 199);
}

nav a:hover
{
    background-color: #476ba1;
}

nav ul li:first-child a:hover 
{
    background-color: none;
}

nav ul li a 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 0 10px;
}

nav i 
{
    display: block;
    font-size: 24px;
    margin: 0;
    color: rgb(199, 199, 199);
}

.nav-text 
{
    display: block;
    margin-top: 5px;
    line-height: 1.2;
    color: rgb(199, 199, 199);
}
.Title
{
    background-color: white;
    color: black;
    font-size: 50px;
    height: 100px;
    font-weight: bold;
    text-align: center;
    padding-top: 13px;
    letter-spacing: 4px;
}

.mini_logo
{
    width: 55px;
    height: 55px;
    gap: 3px;
}

.wrapper
{
    max-width: 75%;
    margin: auto;
}

.wrapper > p
{
    margin: 1.5rem 0;
    text-align: center;
}

.accordion
{
    background-color: #84aff0;
    color: black;
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-family: 'Merriweather';
}

accordion i
{
    font-size: 1.6rem;
}

.active,
.accordion:hover
{
    background-color:rgb(142, 198, 238);
}

.panel
{
    padding: 0 2rem 2.5rem 2 rem;
    background-color: #9dcef1;
    overflow: hidden;
    background-color: #8ECCE6;
    display: none;
}

.panel p
{
    color: black;
    font-family: 'Lato';
    font-size: 1.2rem;
    line-height: 1.2;
}

.faq
{
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
}

.faq.active
{
    border: none;
}

.Footer 
{
	background: linear-gradient(to bottom, #4f5aac, #fb5406);
	width: 100%;
	height: 320px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	text-align: center;
	padding-top: 70px;
}

.Footer p
{
    font-weight: bold;
}

.Footer h1 
{
	font-size: 36px;
	margin-bottom: 30px;
	text-align: center;
}

.Core-Values
{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 150px;
	padding: 0;
	margin: 0;
    flex-wrap: wrap;
}

.Core-Values ul li 
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Core-Values li h1 
{
	font-size: 30px;
	margin: 0;
	line-height: 1;
}

.Core-Values li span 
{
	font-size: 10px;
    font-weight: bold;
	margin-top: 20px;
}

.Grad-attributes
{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 60px;
	padding: 0;
	margin: 0;
    flex-wrap: wrap;
}

.Grad-attributes li
{
    font-size: 20px;
}

.Grad-attributes li span
{
	font-size: 10px;
    font-weight: bold;
	margin-top: 20px;
}

.Socials
{
    display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	padding: 0;
	margin: 0;
    font-size: 130%;
}

.Socials i
{
    color: black;
}
